<div class="container">

<div class="link-images">
  <%= link_to image_tag("typewriter.PNG", alt: "Draft New Letter"), new_letter_path %>
  <%= link_to image_tag("mailbox-unread.PNG", alt: "View Received Letters"), letters_path %>
</div>
</div>