<h1>Received Letters</h1>

<% if @received_letters.any? %>
  <ul>
    <% @received_letters.each do |letter| %>
      <li class="envelope">
        <div class="envelope-info">
          <strong>From:</strong> <%= link_to letter.sender.email, letter_path(letter) %><br>
          <strong>Sent at:</strong> <%= letter.created_at.strftime("%d %B %Y %H:%M") %><br>
          <!-- Add more letter information here if needed -->
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no letters.</p>
<% end %>
