/* custom_styles.css */

body {
    background-color: #D8B297;
    font-family: 'Lato', sans-serif;
}
/* Additional styles for the letter form */
.letter-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Adjust as necessary */
    margin: auto;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #41708C;
}

.form-select,
.trix-content {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.form-submit {
    background-color: #528CA2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-submit:hover {
    background-color: #41708C;
}

.error {
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.letter-container {
    word-wrap: true;
    background-color: white; /* Paper color */
    min-width: 425px; /* Adjust width as needed */
    max-width: 75%; /* Adjust width as needed */
    min-height: 550px; /* Adjust height as needed */
    margin: 20px auto; /* Centered horizontally with some margin */
    padding: 40px; /* Padding inside the container */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional shadow for effect */
    box-sizing: border-box; /* Include padding in width/height calculation */
    font-family: 'Lato', sans-serif; /* Maintain consistent font */
}

.letter-details {
    margin-bottom: 20px; /* Space between detail sections */
}

.letter-content {
    white-space: pre-line; /* Respect line breaks in content */
}


a {
    color: #41708c;
    text-decoration: none;
}

strong {
    color: #41708C;
}

a:hover {
    color: #000000;
}

.primary-text {
    color: #000000;
}

.secondary-text {
    color: #528CA2;
}

.notice-text {
    color: #41708c;
}

/* Styles for unread letters list */
.envelope-list {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styles for individual envelopes */
  .index-envelope {
      background-color: #528CA2;
      width: 320px; /* Adjust width as needed */
      height: 200px; /* Adjust height as needed */
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; /* Change cursor on hover */
  }
  .index-envelope::after {
    content: '';
    position: absolute;
    top: 10px; /* Adjust as necessary */
    right: 10px; /* Adjust as necessary */
    width: 50px; /* Size of the stamp */
    height: 50px; /* Size of the stamp */
    background-image: url('postage_stamp_one_penny.png'); /* Path to your stamp image */
    background-size: cover;
    z-index: 2;
}
  
  .index-envelope-info {
      text-align: center;
      position: absolute;
      z-index: 2;
  }
  
  .envelope-link {
      text-decoration: none; /* Remove underline from links */
      color: inherit; /* Inherit text color */
  }
/* Styles for unread letters list */
.envelope-list {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styles for read letters list */
  .paper-list {
    display: flex;
    overflow-x: auto; /* Horizontal scrolling */
    padding-bottom: 20px;
  }
  
  .paper-sheet {
    background-color: white;
    width: 425px;
    height:550px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in width and height */
  }
  
  .paper-link {
    text-decoration: none;
    color: #41708c;
  }
  
  .paper-link:hover {
    color: #000000;
  }
  

.index-envelope li {
    list-style-type: none;
}



/* Styles for images */
.link-images {
    display: flex;
    flex-direction: column; /* Default to vertical stacking */
    align-items: center; /* Center images horizontally */
    justify-content: space-evenly; /* Evenly distribute space around images */
    margin-bottom: 40px; /* Space below the image container */
}

.link-images img {
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    object-fit: cover;
    margin-bottom: 20px; /* Margin between images */
}

@media (max-width: 767px) {
    .link-images img {
        margin-bottom: 40px; /* Increased margin for mobile */
    }
}

@media (min-width: 768px) {
    .link-images {
        flex-direction: row; /* Images next to each other on desktop */
        justify-content: space-evenly; /* Evenly distribute space around images */
        flex-wrap: wrap; /* Enable wrapping of items */
    }

    .link-images img {
        margin-bottom: 20px; /* Consistent margin for bottom */
        margin-right: 20px; /* Margin between images horizontally */
    }

    .link-images img:last-child {
        margin-right: 0; /* Remove right margin for the last image */
    }
}