/* custom_styles.css */

body {
    background-color: #D8B297;
    font-family: 'Lato', sans-serif;
}

.letter-container {
    background-color: white;
    padding: 20px;
    margin: 10px auto; /* Centered horizontally */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
}

a {
    color: #41708c;
    text-decoration: none;
}

strong {
    color: #41708C;
}

a:hover {
    color: #000000;
}

.primary-text {
    color: #000000;
}

.secondary-text {
    color: #528CA2;
}

.notice-text {
    color: #41708c;
}

.envelope {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.envelope:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
    height: 40%;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 5px;
}
.envelope-link {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
  }
.envelope-info {
    position: relative;
    z-index: 2;
}

.envelope li {
    list-style-type: none;
}

/* Styles for images */
.link-images {
    display: flex;
    flex-direction: column; /* Default to vertical stacking */
    align-items: center; /* Center images horizontally */
    margin-bottom: 40px; /* Space below the image container */
}

.link-images img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px; /* Margin between images */
}

@media (max-width: 767px) {
    .link-images img {
        margin-bottom: 40px; /* Increased margin for mobile */
    }
}

@media (min-width: 768px) {
    .link-images {
        flex-direction: row; /* Images next to each other on desktop */
        justify-content: center; /* Center images container */
    }

    .link-images img {
        margin-right: 40px;
        margin-bottom: 0;
    }

    .link-images img:last-child {
        margin-right: 0; /* Remove right margin for the last image */
    }
}
